.tasks {

	.main-content {
		width: 75%;
		float: left;
		padding-right: 50px;
	}

	form {
		float: left;
		text-align: right;
		padding-top: 30px;
	}

	.form-horizontal {
		.control-label {
			margin-right: 15px;
		}
	}
}